### Importar el archivo con datos meteorológicos
Se importa el archivo de datos meteorológicos con periodicidad horaria, generados en R Studio utilizando el parquete METEOSTAT

In [15]:
## Se importa las librerias necesarias
from pandas import read_csv
import pandas as pd
from statistics import mean

## Se importa el dataset
dataset = read_csv('datasetEC.csv', delimiter=';', encoding='cp1252', decimal=',' )
dataset['ws'] = dataset['ws'].fillna(0)
dataset['air_temp'] = dataset['air_temp'].fillna(0)
dataset['visibility'] = dataset['visibility'].fillna(0)
dataset['RH'] = dataset['RH'].fillna(0)
dataset['State'] = dataset['State'].fillna(0)
dataset.tail()

,Unnamed: 0,code,station,date,latitude,longitude,ws,air_temp,visibility,RH,State
30959,30960,841470-99999,"CHACHOAN, EC",2021-05-26 17:00:00,-1.212067,-78.574636,5.1,17.0,0.0,77.459981,Tungurahua
30960,30961,841470-99999,"CHACHOAN, EC",2021-05-26 18:00:00,-1.212067,-78.574636,4.1,18.8,10000.0,57.191665,Tungurahua
30961,30962,841470-99999,"CHACHOAN, EC",2021-05-26 19:00:00,NaN,NaN,0.0,0.0,0.0,0.000000,Tungurahua
30962,30963,841470-99999,"CHACHOAN, EC",2021-05-26 20:00:00,NaN,NaN,0.0,0.0,0.0,0.000000,Tungurahua
30963,30964,841470-99999,"CHACHOAN, EC",2021-05-26 21:00:00,-1.212067,-78.574636,4.1,17.0,0.0,67.960909,Tungurahua

In [16]:
## se toma información filtrando un rango de fechas
dataset["date"]=pd.to_datetime(dataset["date"])
dataset["date2"]=pd.to_datetime(dataset['date']).dt.normalize()    
dat=dataset.loc[dataset["date2"].between('2021-01-16', '2021-04-15')]

In [17]:
## obtener los datos diarios de WS velocidad del viento en m/s
a=pd.DataFrame(dat)
b=a[a.ws!=0]
df2 = b.groupby(['date2', 'station','State']).ws.mean()

# crear una lista con los valores agrupados y la media de WS velocidad del viento
lista = [list(key) + [str(value)] for key,  value in  df2.to_dict().items()]

# crear un dataframe y renombrar los campos
df2 = pd.DataFrame(lista)
df2.rename(columns={0: 'date',1:'station', 2:'state', 3:'ws'}, inplace=True)
df2.tail()

,date,station,state,ws
1129,2021-05-20,"ELOY ALFARO INTERNATIONAL, EC",Manabí,3.475000000000001
1130,2021-05-20,"MARISCAL LAMAR, EC",Azuay,2.3086956521739137
1131,2021-05-20,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,2.5173913043478264
1132,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Guayas,4.4695652173913025
1133,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Los Ríos,4.4695652173913025

In [18]:
## obtener los datos diarios de air_temp temperatura del aire °C
c=a[a.air_temp!=0]
df3 = c.groupby(['date2', 'station','State']).air_temp.mean()

# crear una lista con los valores agrupados y la media de air_temp temperatura del aire
lista2 = [list(key) + [str(value)] for key,  value in  df3.to_dict().items()]

# crear un dataframe y renombrar los campos
df3 = pd.DataFrame(lista2)
df3.rename(columns={0: 'date',1:'station_2', 2:'state', 3:'air_temp'}, inplace=True)
df3.tail()

,date,station_2,state,air_temp
1139,2021-05-20,"ELOY ALFARO INTERNATIONAL, EC",Manabí,24.819696969696967
1140,2021-05-20,"MARISCAL LAMAR, EC",Azuay,16.510416666666668
1141,2021-05-20,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,16.729166666666668
1142,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Guayas,24.669565217391302
1143,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Los Ríos,24.669565217391302

In [19]:
## obtener los datos diarios de visibility en metros
d=a[a.visibility!=0]
df4 = d.groupby(['date2', 'station','State']).visibility.mean()

# crear una lista con los valores agrupados y la media de visibility visibilidad
lista3 = [list(key) + [str(value)] for key,  value in  df4.to_dict().items()]

# crear un dataframe y renombrar los campos
df4 = pd.DataFrame(lista3)
df4.rename(columns={0: 'date',1:'station_3', 2:'state', 3:'visibility'}, inplace=True)
df4.tail()

,date,station_3,state,visibility
1040,2021-05-20,"ELOY ALFARO INTERNATIONAL, EC",Manabí,10000.0
1041,2021-05-20,"MARISCAL LAMAR, EC",Azuay,20210.833333333332
1042,2021-05-20,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,6000.0
1043,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Guayas,10000.0
1044,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Los Ríos,10000.0

In [20]:
## obtener los datos diarios de RH Humedad Relativa en %
e=a[a.RH!=0]
df5 = e.groupby(['date2', 'station','State']).RH.mean()

# crear una lista con los valores agrupados y la media de air_temp temperatura del aire
lista4 = [list(key) + [str(value)] for key,  value in  df5.to_dict().items()]
df5 = pd.DataFrame(lista4)

# Se renombra los atributos
df5.rename(columns={0: 'date',1:'station_4', 2:'state', 3:'RH'}, inplace=True)
df5.tail()

,date,station_4,state,RH
1139,2021-05-20,"ELOY ALFARO INTERNATIONAL, EC",Manabí,83.00420413184969
1140,2021-05-20,"MARISCAL LAMAR, EC",Azuay,75.18563831271568
1141,2021-05-20,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,73.39736077310926
1142,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Guayas,81.19218366673734
1143,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Los Ríos,81.19218366673734

In [21]:
# se unen los datsets
df2_3= pd.merge(df2, df3, on=['date','state'], how='right')
df23_4= pd.merge(df2_3, df4, on=['date','state'], how='left')
data= pd.merge(df23_4, df5, on=['date','state'], how='left')

# Se eliminan los atributos del dataset
data.drop(['station_2','station_3','station_4'], axis='columns', inplace=True)

# Se rellena con 0 los campos con valores NA
data['ws'] = data['ws'].fillna(0)
data['visibility'] = data['visibility'].fillna(0)
data['RH'] = data['RH'].fillna(0)

data

,date,station,state,ws,air_temp,visibility,RH
0,2021-01-02,"CATAMAYO CAMILO PONCE ENRIQUEZ AIRPORT, EC",El Oro,2.525,22.735714285714288,12800.0,69.89611228552617
1,2021-01-02,"CATAMAYO CAMILO PONCE ENRIQUEZ AIRPORT, EC",Loja,2.525,22.735714285714288,12800.0,69.89611228552617
2,2021-01-02,"ELOY ALFARO INTERNATIONAL, EC",Manabí,2.897368421052632,25.285714285714285,10000.0,77.57266750757024
3,2021-01-02,"MARISCAL LAMAR, EC",Azuay,2.41304347826087,15.264583333333333,22500.0,83.33413333643347
4,2021-01-02,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,2.7923611111111115,14.875,6800.0,84.71985156003778
...,...,...,...,...,...,...,...
1139,2021-05-20,"ELOY ALFARO INTERNATIONAL, EC",Manabí,3.475000000000001,24.819696969696967,10000.0,83.00420413184969
1140,2021-05-20,"MARISCAL LAMAR, EC",Azuay,2.3086956521739137,16.510416666666668,20210.833333333332,75.18563831271568
1141,2021-05-20,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,2.5173913043478264,16.729166666666668,6000.0,73.39736077310926
1142,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Guayas,4.4695652173913025,24.669565217391302,10000.0,81.19218366673734
1143,2021-05-20,"SIMON BOLIVAR INTERNATIONAL, EC",Los Ríos,4.4695652173913025,24.669565217391302,10000.0,81.19218366673734

In [22]:
# conversión de tipo de datos
data['ws']=pd.to_numeric(data['ws'])
data['air_temp']=pd.to_numeric(data['air_temp'])
data['visibility']=pd.to_numeric(data['visibility'])
data['RH']=pd.to_numeric(data['RH'])
data['date']=pd.to_datetime(data['date']).dt.normalize()

# conversión de valor ws (m/s) --> mph
valor_conv_ws=2.24 
data['ws']=data['ws']*valor_conv_ws

# conversión de valor visibility (m) --> millas
valor_conv_vis=0.00062137
data['visibility']=data['visibility']*valor_conv_vis

### Importar el archivo con datos epidemiológicos
Se importa el archivo de datos epidemiológicos con periodicidad diaria, obtenidos desde la plataforma github.

In [23]:
## Se importa el dataset
dataset2 = read_csv('DATOS_ECUADOR.csv', delimiter=';', encoding='cp1252')

# Se crea una lista con los atributos que no son usados para obtener las variables metereológicas
atributos_eliminar=['inec_provincia_id','poblacion', 'total','lat','lng']
# Se eliminan los atributos del dataset
for atributo in atributos_eliminar:
    dataset2.drop(atributo, axis='columns', inplace=True)
    
# se renombra los campos
dataset2.rename(columns={'provincia': 'state','nuevas':'new_cases', 'created_at':'date'}, inplace=True)

# se cambia el tipo de datos de la fecha
dataset2['date']=pd.to_datetime(dataset2['date']).dt.normalize()

# se filtra el rango de fechas para el análisis
dataset2=dataset2.loc[dataset2["date"].between('2021-01-16', '2021-04-15')]
dataset2.tail()

                       state  new_cases       date
2971             Santa Elena         45 2021-04-05
2972  Sto. Domingo Tsáchilas         49 2021-04-05
2973               Sucumbíos         11 2021-04-05
2974              Tungurahua         26 2021-04-05
2975        Zamora Chinchipe          4 2021-04-05

### Creación de dataset con latencias 0, 3, 7, 14 días 
Estos datasets incluyen datos meteorológicos y datos epidemiológicos con periodicidad diaria.

### 1. Latencia 0 días

In [24]:
## UNIR LOS DATASETS
dataset_sin_latencia= pd.merge(data, dataset2, on=['date','state'], how='inner')

dataset_sin_latencia.tail()

,date,station,state,ws,air_temp,visibility,RH,new_cases
561,2021-04-15,"ELOY ALFARO INTERNATIONAL, EC",Manabí,5.493895,26.770000,6.213700,76.030346,280
562,2021-04-15,"MARISCAL LAMAR, EC",Azuay,5.194667,16.218750,8.284933,77.639540,202
563,2021-04-15,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",Pichincha,4.938182,16.270833,2.451305,79.111719,1869
564,2021-04-15,"SIMON BOLIVAR INTERNATIONAL, EC",Guayas,5.057043,27.140625,5.626129,76.947452,662
565,2021-04-15,"SIMON BOLIVAR INTERNATIONAL, EC",Los Ríos,5.057043,27.140625,5.626129,76.947452,143

### 2. Latencia 3 días

In [25]:
## dataset con latencia 3 días
from datetime import date, timedelta
data1=pd.DataFrame(data)
data2=pd.DataFrame(data)

# se declara el número de días de retardo
td = timedelta(3)
data1['date1']=data1['date']-td

# Se crea una lista con los atributos que no son usados para obtener las variables metereológicas
col_eliminar=['station','ws','air_temp', 'visibility', 'RH']
# Se eliminan los atributos del dataset
for atributo in col_eliminar:
    data1.drop(atributo, axis='columns', inplace=True)

## se calcula obtiene las variables meteorológicas para un retardo de 3 días
data_3dias_latencia=pd.merge(data1, data2, left_on=['date1','state'], right_on=['date','state'], how='inner')

## Eliminar la columna date usadas para obtener retardo 3 días
data_3dias_latencia.drop(['date1_x', 'date_y','date1_y'], axis='columns', inplace=True)

# se renombra el campo date 
data_3dias_latencia.rename(columns={'date_x': 'date'}, inplace=True)

# se filtra el rango de fechas para el análisis
data_3dias_latencia=data_3dias_latencia.loc[data_3dias_latencia["date"].between('2021-01-16', '2021-04-15')]

data_3dias_latencia=pd.merge(data_3dias_latencia, dataset2, left_on=['date','state'], right_on=['date','state'], how='inner')
data_3dias_latencia.tail()

,date,state,station,ws,air_temp,visibility,RH,new_cases
502,2021-04-15,Manabí,"ELOY ALFARO INTERNATIONAL, EC",7.834667,26.690909,6.176418,76.940324,280
503,2021-04-15,Azuay,"MARISCAL LAMAR, EC",5.166609,15.962500,7.767125,73.129088,202
504,2021-04-15,Pichincha,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",4.032000,15.166667,0.000000,76.232070,1869
505,2021-04-15,Guayas,"SIMON BOLIVAR INTERNATIONAL, EC",6.673333,27.631250,6.213700,70.929259,662
506,2021-04-15,Los Ríos,"SIMON BOLIVAR INTERNATIONAL, EC",6.673333,27.631250,6.213700,70.929259,143

### 3. Latencia 7 días

In [26]:
## dataset con latencia 7 días
data3=pd.DataFrame(data)

# número de dias de retardo
td = timedelta(7)

# se obtiene las fechas con retardo
data3['date1']=data3['date']-td

# Se eliminan los atributos del dataset
for atributo in col_eliminar:
    data3.drop(atributo, axis='columns', inplace=True)

## se calcula obtiene las variables meteorológicas para un retardo de 7 días
data_7dias_latencia=pd.merge(data3, data2, left_on=['date1','state'], right_on=['date','state'], how='inner')

## Eliminar la columna date usadas para obtener retardo 3 días
data_7dias_latencia.drop(['date1_x', 'date_y','date1_y'], axis='columns', inplace=True)

# se renombra el campo date 
data_7dias_latencia.rename(columns={'date_x': 'date'}, inplace=True)

# se filtra el rango de fechas para el análisis
data_7dias_latencia=data_7dias_latencia.loc[data_7dias_latencia["date"].between('2021-01-16', '2021-04-15')]

data_7dias_latencia=pd.merge(data_7dias_latencia, dataset2, left_on=['date','state'], right_on=['date','state'], how='inner')

data_7dias_latencia.tail()

,date,state,station,ws,air_temp,visibility,RH,new_cases
540,2021-04-15,Manabí,"ELOY ALFARO INTERNATIONAL, EC",6.443294,26.684091,6.203344,80.508232,280
541,2021-04-15,Azuay,"MARISCAL LAMAR, EC",5.859636,15.969444,12.178852,81.700346,202
542,2021-04-15,Pichincha,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",6.346667,16.500000,3.728220,78.269163,1869
543,2021-04-15,Guayas,"SIMON BOLIVAR INTERNATIONAL, EC",5.507478,27.037500,6.301037,78.508717,662
544,2021-04-15,Los Ríos,"SIMON BOLIVAR INTERNATIONAL, EC",5.507478,27.037500,6.301037,78.508717,143

### 4. Latencia 14 días

In [27]:
## dataset con latencia 14 días
data4=pd.DataFrame(data)

# se define número de dias de retardo
td = timedelta(14)

# se obtiene las fechas con retardo
data4['date1']=data4['date']-td

# Se eliminan los atributos del dataset
for atributo in col_eliminar:
    data4.drop(atributo, axis='columns', inplace=True)

## se calcula obtiene las variables meteorológicas para un retardo de 3 días
data_14dias_latencia=pd.merge(data4, data2, left_on=['date1','state'], right_on=['date','state'], how='inner')

## Eliminar la columna date usadas para obtener retardo 3 días
data_14dias_latencia.drop(['date1_x', 'date_y','date1_y'], axis='columns', inplace=True)

# se renombra el campo date 
data_14dias_latencia.rename(columns={'date_x': 'date'}, inplace=True)

# se filtra el rango de fechas para el análisis
data_14dias_latencia=data_14dias_latencia.loc[data_14dias_latencia["date"].between('2021-01-16', '2021-04-15')]

## se obtiene el dataset completo para latencia de 14 dias
data_14dias_latencia=pd.merge(data_14dias_latencia, dataset2, left_on=['date','state'], right_on=['date','state'], how='inner')

data_14dias_latencia.tail()

,date,state,station,ws,air_temp,visibility,RH,new_cases
545,2021-04-15,Manabí,"ELOY ALFARO INTERNATIONAL, EC",6.472421,26.909524,6.213700,76.199358,280
546,2021-04-15,Azuay,"MARISCAL LAMAR, EC",4.883200,16.376087,6.213700,77.300116,202
547,2021-04-15,Pichincha,"MARISCAL SUCRE INTERNATIONAL AIRPORT, EC",6.924522,16.361111,2.013239,76.786611,1869
548,2021-04-15,Guayas,"SIMON BOLIVAR INTERNATIONAL, EC",7.168000,27.931250,6.301037,66.683569,662
549,2021-04-15,Los Ríos,"SIMON BOLIVAR INTERNATIONAL, EC",7.168000,27.931250,6.301037,66.683569,143

#### Se exporta los dataset generados a archivos .csv

In [14]:
#### Se eliminan los registros con valor 0 en el campo visibilidad 
data_14dias_latencia=data_14dias_latencia[data_14dias_latencia.visibility!=0]
data_7dias_latencia=data_7dias_latencia[data_7dias_latencia.visibility!=0]
data_3dias_latencia=data_3dias_latencia[data_3dias_latencia.visibility!=0]
dataset_sin_latencia=dataset_sin_latencia[dataset_sin_latencia.visibility!=0]

## Se crea archivos csv con datos de las 3 latencias, respectivamente
data_14dias_latencia.to_csv('dataset_14dias_retardo.csv', index=False,encoding="cp1252")
data_7dias_latencia.to_csv('data_7dias_latencia.csv', index=False,encoding="cp1252")
data_3dias_latencia.to_csv('data_3dias_latencia.csv', index=False,encoding="cp1252")
dataset_sin_latencia.to_csv('dataset_sin_latencia.csv', index=False,encoding="cp1252")